{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Поиск начальника каждого пользователя портала</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="header">
    <h1>Поиск начальника каждого пользователя портала</h1>
    <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
  </div>
  <h2>Всего полей контактов: {{ len_res }}</h2>
    <table>
      <thead>
        <tr>
          <th>ID пользователя</th>
          <th>ФИО пользователя</th>
          <th>ID руководителя</th>
          <th>ФИО руководителя</th>
        </tr>
      </thead>
      <tbody>
        {% for i in final_list %}
        <tr>
          <td>{{ i.0 }}</td>
          <td>{{ i.1 }}</td>
          <td>{{ i.2 }}</td>
          <td>{{ i.3 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
