{% extends "base_app.html" %}

{% block title %}
    Поиск начальника каждого пользователя портала
{% endblock title%}

{% block header %}
    <div class="header">
        <h1>Поиск начальника каждого пользователя портала</h1>
        <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
    </div>
{% endblock header%}

{% block content %}
    <table>
      <thead>
        <tr>
          <th>ID пользователя</th>
          <th>ФИО пользователя</th>
          <th>ID руководителя</th>
          <th>ФИО руководителя</th>
        </tr>
      </thead>
      <tbody>
        {% for i in final_list %}
        <tr>
          <td>{{ i.0 }}</td>
          <td><a href="https://pavelkovvv.bitrix24.ru/company/personal/user/{{ i.0 }}/" target="_blank">{{ i.1 }}</a> </td>
          <td>{{ i.2 }}</td>
          <td>{{ i.3 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content%}}

