django
django-mptt
mutagen
django-prettyjson
psycopg2-binary
openpyxl
grpcio
google
googleapis-common-protos
google-api
pydub
ffmpeg
python-telegram-bot~=13.15
python-dateutil
httpx
requests
beautifulsoup4
pytz
prettytable
certifi
six
pandas
requests
