asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.1.0
dateutils==0.6.12
Django==4.2.3
django-js-asset==2.1.0
django-mptt==0.14.0
django-prettyjson==0.4.1
idna==3.4
psycopg2-binary==2.9.6
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
standardjson==0.3.1
tzdata==2023.3
urllib3==2.0.3
