<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Демо приложение</title>
</head>
<body>
    <a href="/tasks/get_fact/">Открыть отчет по затраченному времени</a>
    <a href="/crmfields/show_lead_fields/">Показать поля сущности "Лиды"</a>
    <a href="/crmfields/show_contact_fields/">Показать поля сущности "Контакты"</a>
    <a href="/crmfields/show_deal_fields/">Показать поля сущности "Сделки"</a>
    <a href="/crmfields/show_company_fields/">Показать поля сущности "Компании"</a>
    <a href="/contactmp3/register_call/">Отправить звонок в формате mp3 на Битрикс</a>

    {% include "tech_info_include.html" %}




<br>
Курсы валют будут автоматически публиковаться в живую ленту.
</body>
<script src="//api.bitrix24.com/api/v1/"></script>
</html>