<div class="container">
    <a href="/tasks/get_fact/">Открыть отчет по затраченному времени<br></a>
    <a href="/crmfields/show_lead_fields/">Показать поля сущности "Лиды"<br></a>
    <a href="/crmfields/show_contact_fields/">Показать поля сущности "Контакты"<br></a>
    <a href="/crmfields/show_deal_fields/">Показать поля сущности "Сделки"<br></a>
    <a href="/crmfields/show_company_fields/">Показать поля сущности "Компании"<br></a>
    <a href="/callsuploader/register_call/">Отправить звонок в формате mp3 на Битрикс<br></a>
    <a href="/duplicatefinder/finded_duplicates/">Дубликаты товаров<br></a>
    <a href="/urlmanager/show_list/">Поиск начальника каждого пользователя портала<br></a>
    <a href="/selectuser/SelectUser/">Приложение: "Получить информацию о сотруднике"<br></a>
    <a href="/company_on_map/map/">Приложение: "Карта компаний"<br></a>
    <a href="/urlmanager/show_grid/">Показать список сотрудников с полями<br></a>
    <a href="/allcompbizproc/run_bizproc/">Приложение: "Запуск бизнес процесса"<br></a>
    <a href="/product_list_in_excel/product_excel/">Приложение: "Выгрузка списка товаров в excel-файл"<br></a>
    <a href="/import_company_google/import/">Импорт компаний из Google Таблицы<br></a>
    <a href="/robot/home/">Робот<br></a>
    <a href="/demo_data_in_bitrix/demo_data_form/">Приложение: "Импорт демоданных в Битрикс"<br></a>
    <a href="/sample_tg_bot/send_message/">Отправить сообщение через бота<br></a>
    <a href="/audio_recognition/show_info/">Распознавание текста в аудио (для разработчиков)<br></a>
    <a href="/best_call_manager/start_find_all_call/">Приложение "Лучший звонок менеджера за день"<br></a>
    <a href="/calls_to_telegram/send_call_info/">Перенаправлять звонки в телеграм бота<br></a>
    <a href="/tg_open_ai/open_ai/">ТГ Бот на базе OpenAi<br></a>
    <a href="/deal_for_powerbi/entrance/">Выгрузка сделок для PowerBI<br></a>
    <a href="/autocomplete_crm_tasks/complete_tasks/">Автоматически завершать задания в CRM<br></a>
    <a href="{% url 'move_tasks_deadline_js:index' %}">Кнопка перенос крайнего срока<br></a>

</div>
