{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title></title>
    <meta charset="UTF-8">
</head>
<body>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
{% if request.bitrix_user.is_admin %}
    {% if bound %}
        <form action="{% url 'move_tasks_deadline_js:unbind_button' %}" method="POST">
            <button>Отвязать кнопку от окна с задачей</button>
        </form>
    {% else %}
        <form action="{% url 'move_tasks_deadline_js:bind_button' %}" method="POST">
            <button>Привязать кнопку к окну с задачей</button>
        </form>
    {% endif %}
{% else %}
    <p>Привязать или отвязать кнопку может только администратор</p>
{% endif %}
</body>
</html>