{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title></title>
    <meta charset="UTF-8">
</head>
<body>
<h3>{{ button_type }}</h3>
{% if button_type == "js" %}
    <button
            id="move_tasks_deadline"
            title="Передвинуть крайний срок на день вперед"
            onclick="move_tasks_deadline()"
    >
        Не успеваю
    </button>
{% else %}
    <form method="post" action="{% url "move_tasks_deadline_js:move_deadline" %}?type={{ button_type }}">
    <button title="Передвинуть крайний срок на день вперед">
        Не успеваю
    </button>
    </form>
{% endif %}
</body>
{% if button_type == "js" %}
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
{% endif %}
<script src="//api.bitrix24.com/api/v1/"></script>
<script src="{% static path_to_script %}"></script>
</html>