{% extends "base_app.html" %}

{% block title %}
    Найдены следующие дубликаты товаров на портале
{% endblock %}

{% block header %}
    <div class="header">
        <h1>Найдены следующие дубликаты товаров на портале:</h1>
        <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
    </div>
{% endblock %}

{% block content %}
    <div>
        <table>
          <tr>
            <th>Товар</th>
            <th>Количество дубликатов</th>
          </tr>
          {% for name, count in res.items %}
          <tr>
            <td>{{ name }}</td>
            <td>{{ count }}</td>
          </tr>
          {% endfor %}
        </table>
    </div>
{% endblock %}
