{% extends "base_app.html" %}

{% block title %}
    Компании на карте Яндекс
{% endblock %}

{% block header %}
    <div class="header">
        <h1>Компании на карт Яндекс</h1>
        <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
    </div>
{% endblock %}

{% block content %}
    <div id="map" style="width: 600px; height: 400px"></div>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=0bec9964-3c18-4c20-a49d-4843593e1110&lang=ru_RU" type="text/javascript"></script>
    <script src="{% static "js/map1.js" %}"></script>
    <script src="//api.bitrix24.com/api/v1/"></script>
{% endblock %}