body {
      background-color: transparent; /* Устанавливаем прозрачный фон */
    }

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    margin-bottom: 20px;
    }

.header h1 {
    margin: 0;
}

.header button {
    margin-left: 10px;
    width: 85px;
    height: 30px;
}
