{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Поля для сущности "Сделка"</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="header">
    <h1>Поля для сущности "Сделка"</h1>
    <h2>Всего найдено {{ total_value }} полей включая пользовательские поля</h2>
    <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Тип</th>
        <th>Обязательное</th>
        <th>Только для чтения</th>
        <th>Неизменяемое</th>
        <th>Множественное</th>
        <th>Динамическое</th>
      </tr>
    </thead>
    <tbody>
      {% for k, v in res.items %}
      <tr>
        <td>{{ k }}</td>
        <td>{% if v.filterLabel == None %}{{ v.title }}{% else %}{{ v.filterLabel }}{% endif %}</td>
        <td>{{ v.type }}</td>
        <td>{{ v.isRequired }}</td>
        <td>{{ v.isReadOnly }}</td>
        <td>{{ v.isImmutable }}</td>
        <td>{{ v.isMultiple }}</td>
        <td>{{ v.isDynamic }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
