{% extends "base_app.html" %}

{% block title %}
    Выгрузка сделок для PowerBI отчета
{% endblock %}

{% block header %}
    <div class="header">
        <h1>Выгрузка сделок для PowerBI отчета</h1>
        <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
    </div>
{% endblock %}

{% block content %}
    <div class="info-container">
        <p class="info-text">
            Это приложение разработано для интеграции с Power BI. Оно позволяет выгрузить нужную информацию по компаниям, сделкам и контактам с помощью следующей ссылки:
        </p>
        <a class="info-link" href="https://<Тут ваш статический URL адрес>/deal_for_PowerBI/export_deals/?s=KJBHILiswbeg8yuesbg" target="_blank">
            https://<Тут ваш статический URL адрес>/deal_for_PowerBI/export_deals3/?s=KJBHILiswbeg8yuesbg
        </a>
    </div>
    <!-- Здесь можно продолжить добавлять другой контент -->
{% endblock %}

{% block styles %}
    <style>
        /* Общие стили для страницы */
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        /* Стили для заголовка */
        .header {
            background-color: #007BFF;
            padding: 10px;
            color: white;
            text-align: center;
        }

        /* Стили для блока с информацией */
        .info-container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        /* Стили для текста */
        .info-text {
            margin-bottom: 10px;
            font-size: 18px;
        }

        /* Стили для ссылки */
        .info-link {
            display: block;
            font-size: 16px;
            color: #007BFF;
            text-decoration: underline;
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        // Обработчик события для кнопки выбора файла
        document.getElementById("input_file").addEventListener("change", function() {
            var fileName = this.value.split("\\").pop();
            var label = document.querySelector(".file-input-wrapper label");
            label.innerHTML = "Выбран файл: " + fileName;
        });
    </script>
{% endblock %}
